.input {
  border-radius: 15px;
  margin-right: 10px;
  height: 30px;
  padding: 5px 10px;
}

.button {
  height: 30px;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: lightgrey;
  font-size: 16px;
  font-weight: 500;
}
